body {

font-family: Arial;
background: #0d0d0d;
color: white;
text-align: center;

}

.container {

width: 90%;
max-width: 500px;
margin: auto;
margin-top: 40px;

}

input {

width: 100%;
padding: 12px;
margin: 10px 0;

border-radius: 10px;
border: none;

}

button {

padding: 12px;
margin: 5px;

border-radius: 10px;
border: none;

background: #00c3ff;
color: white;

cursor: pointer;

}

.project {

background: #1c1c1c;
padding: 10px;
margin: 10px 0;

border-radius: 10px;

}
