body {

font-family: Arial;

background:#020617;

color:white;

text-align:center;

padding:30px;

}

textarea {

width:80%;

height:120px;

border-radius:10px;

padding:10px;

}

button {

padding:12px;

margin:8px;

border:none;

border-radius:10px;

background:#3b82f6;

color:white;

cursor:pointer;

}

.login-box {

background:#111827;

padding:30px;

border-radius:15px;

width:300px;

margin:auto;

}

.project {

background:#111827;

margin:10px;

padding:10px;

border-radius:10px;

}
